<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/todLlist.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter&vdisplay=swap">
    <title>ToDo List</title>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="img/Group 2.png" alt="logo">
                    <h1>ToDo List</h1>
                </div>
                <div class="form">
                    <input type="text" v-bind:value="valueInput" v-on:input="handleInput" v-on:keypress.enter="addTask" placeholder="Ведите задачу">
                    <button class="btn" v-on:click="addTask">Создать</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>Невыполненных задач:</span>
                <span class="mask-num">{{ needDoList.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(mask, index) in needDoList" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'need')" />
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'need')">Удалить</button>
                </li>
            </ul>
            <h2>
                <span>Выполненных задач:</span>
                <span class="mask-num">{{ completeList.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(mask, index) in completeList" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'complete')">Удалить</button>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script language="JavaScript" type="text/javascript" src="js/todoList.js"></script>




</body>

</html>